.converter__wrapper {
    padding: 50px;
}
.converter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.converter__item__error{
    display: block;
    position: relative;
}
.converter__item__error::after{
    content: 'validation error';
    display: block;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 12px;
    font-weight: 700;
    transition: 0.3s ease-in;
}
.converter__item select,
.converter__item__error select{
    margin-right: 10px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    font-size: 16px;
    font-weight: 500;
}
.converter__item input,
.converter__item__error input {
    padding: 15px 22px;
    border: 1px solid #D4CCE0;
    background: #F4F2F5;
    border-radius: 4px;
    color: rgb(83, 83, 83);
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    transition: 0.3s ease-in;
    width: 251px;
    font-weight: 700;
}
.converter__item input.validate_error,
.converter__item__error input.validate_error{
    border: 2px solid red;
}
.exchange__btn {
    width: 80px;
    height: 80px;
    margin: 0 10px;
    background: linear-gradient(rgb(109, 215, 230), rgb(17, 169, 189));
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}
.exchange__btn:hover { 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
h1{
    text-align: center;
}
.converter__wrapper>p{
    font-size: 17px;
    color: rgb(158, 157, 158);
    text-align: center;
}
.converter__wrapper>p span{
    font-size: 17px;
    color: rgb(109, 108, 108);
    font-weight: 700;
}
